<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/componentes.css' )}}">
</head>
<body>

<header class="top-bar">
    <h1>Redefinir senha</h1>
</header>

<img src="{{ url_for('static', filename = 'imagens/Logo_UEMG.png' )}}" class="Logo_UEMG">

<div class="container">
    <div class="card">
        <h2>Defina uma nova senha</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.nova_senha.label() }}
            {{ form.nova_senha(class='input', type='password') }}

            {{ form.confirmar_nova_senha.label() }}
            {{ form.confirmar_nova_senha(class='input', type='password') }}

            {{ form.submit(class='btn') }}
        </form>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-error" style="margin-top: 15px; padding: 10px; background-color: #f8d7da; color: #721c24; border-radius: 5px;">
                {{ message }}
            </div>
        {% endfor %}

        <div class="login-links">
            <a href="{{ url_for('login') }}">Voltar ao login</a>
        </div>
    </div>
</div>

</body>
</html>
