<div class="pagina">
    <h1 class="titulo">Home</h1>

    <div class="card">

        <!-- nao posso colocar a variavel nome aqui, pois a variavel nome nao fica na memoria, ela apenas existe durante a execuçao da rota -->
        <h2>Bem-vindo, {{ session['cliente_nome']|title }}!</h2>
        
        <p>Aqui você pode gerenciar suas reservas de salas e veículos.</p>

        {%  for message in get_flashed_messages() %}

            <div class="alert alert-success" style="text-align: center; margin-top: 15px; padding: 10px; background-color: #d4edda; color: #155724; border-radius: 5px;">

                {{ message }}

            </div>

        {% endfor %}

    </div>

</div>
