<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/componentes.css')}}">
</head>
<body>

<div class="pagina">
    <h1 class="titulo">Meu Perfil</h1>

    <div class="card">

        <label class="label">Nome:</label>

        <p class = 'input' style = 'text-align: left;'>{{ session['cliente_nome']|title }}</p>

        <label class="label">Email:</label>
        
        <p class = 'input' style = 'text-align: left;'>{{ session['cliente_email'] }}</p>

        <label class="label">CPF:</label>
        <input type="text" class="input">

        <label class="label">RG:</label>
        <input type="text" class="input">

        <button>Salvar</button>

    </div>
</div>

</body>
</html>
