<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/componentes.css')}}">
</head>
<body>

<div class="pagina">

    <form class = 'card' action = "{{ url_for('content_perfil') }}" method = 'POST'>

        <h1 class = "titulo">Meu Perfil</h1>

        <label class = "label">Nome:</label>

            <p class = 'input' style = 'text-align: left;'>{{ session['cliente_nome']|title }}</p>

        <label class = "label">Email:</label>
        
            <p class = 'input' style = 'text-align: left;'>{{ session['cliente_email'] }}</p>

        {% if cliente_cpf and cliente_rg is not none %}

            <label class = 'label'>CPF:</label>

                <p class = 'input' style = 'text-align: left;'>{{ session['cliente_cpf']  }}</p>

            <label class = 'label'>RG:</label>

                <p class = 'input' style = 'text-align: left;'>{{ session['cliente_rg'] }}</p>

        {% else %}

            {{ form.hidden_tag() }}
    
            {{ form.cpf.label( class = 'label' ) }}
            {{ form.cpf( type = 'text', class = 'input' ) }}

            {{ form.rg.label( class = 'label' ) }}
            {{ form.rg( type = 'text', class = 'input' ) }}

            {{ form.submit(class = 'btn') }}

        {% endif %}

    </form>

    <a href = "{{ url_for('logout') }}" class = 'btn' style="margin-top: 15px; background-color: #dc3545; color: white;">Sair</a>

</div>

</body>

</html>
