<div class="pagina">
    <h1 class="titulo">Reservar Sala</h1>

    <div class="card">

        <label class="label">Sala:</label>
        <select class="input">
            <option>Laboratório 01</option>
            <option>Laboratório 02</option>
            <option>Sala de Reunião</option>
        </select>

        <label class="label">Data:</label>
        <input type="date" class="input">

        <label class="label">Início:</label>
        <input type="time" class="input">

        <label class="label">Fim:</label>
        <input type="time" class="input">

        <label class="label">Título da reserva:</label>
        <textarea class="input" placeholder="Ex: CineDebate"></textarea>

        <label class="label">Finalidade:</label>
        <textarea class="input" rows="3" placeholder="Descreva a finalidade da reserva"></textarea>

        <button class="btn">Enviar Solicitação</button>

    </div>
</div>
