<div class="pagina">
    <h1 class="titulo">Reservar Veículo</h1>

    <div class="card">

        <label class="label">Veículo:</label>
        <select class="input">
            <option>Van Escolar</option>
            <option>Carro Administrativo</option>
            <option>Ônibus Universitário</option>
        </select>

        <label class="label">Data de Saída:</label>
        <input type="date" class="input">

        <label class="label">Horário de Saída:</label>
        <input type="time" class="input">

        <label class="label">Data de Retorno:</label>
        <input type="date" class="input">

        <label class="label">Horário de Retorno:</label>
        <input type="time" class="input">

        <label class="label">Destino:</label>
        <input type="text" class="input" placeholder="Ex: Uberlândia, Patos, etc.">

        <label class="label">Motivo:</label>
        <textarea class="input" rows="3" placeholder="Descreva o motivo da viagem"></textarea>

        <button class="btn">Enviar Solicitação</button>

    </div>
</div>
