<div class="pagina">
    <h1 class="titulo">Reservar Veículo</h1>

    <div class="card">

        <form id="reserva-veiculo-form" action="{{ url_for('content_reserva_veiculo') }}" method="post">

            {{ form.hidden_tag() }}

            {{ form.veiculo.label(class='label') }}
            {{ form.veiculo(class='input') }}

            {{ form.data_saida.label(class='label') }}
            {{ form.data_saida(class='input') }}

            {{ form.horario_saida.label(class='label') }}
            {{ form.horario_saida(class='input') }}

            {{ form.data_retorno.label(class='label') }}
            {{ form.data_retorno(class='input') }}

            {{ form.horario_retorno.label(class='label') }}
            {{ form.horario_retorno(class='input') }}

            {{ form.destino.label(class='label') }}
            {{ form.destino(class='input', rows='3', placeholder='Descreva o destino da viagem') }}

            {{ form.motivo.label(class='label') }}
            {{ form.motivo(class='input', rows='3', placeholder='Descreva o motivo da viagem')}}
        
            {{ form.submit(class='btn') }}

            <div id="reserva-veiculo-msg" class="alert" style="display:none; margin-top: 15px;"></div>

        </form>

    </div>
</div>
