<div class="pagina">
    <h1 class="titulo">Reservar Sala</h1>

    <div class="card">

        <form id ='reserva-sala-form' action = '{{ url_for("content_reserva_sala") }}'  method = 'POST'>

            {{ form.hidden_tag() }}

            {{ form.sala.label(class='label') }}
            {{ form.sala(class='input')}}

            {{form.data.label(class='label')}}
            {{form.data(class='input')}}

            {{form.inicio.label(class='label')}}
            {{form.inicio(class='input')}}

            {{form.fim.label(class='label')}}
            {{form.fim(class='input')}}

            {{form.titulo_da_reserva.label(class='label')}}
            {{form.titulo_da_reserva(class='input', placeholder='Ex: CineDebate')}}

            {{form.finalidade.label(class='label')}}
            {{form.finalidade(class='input', rows='3', placeholder='Descreva a finalidade da reserva')}}

            {{ form.submit(class = 'btn') }}

            <div id="reserva-sala-msg" class="alert" style="display:none; margin-top: 15px;"></div>

            {% for message in get_flashed_messages() %}
                <div class="alert alert-success" style="margin-top: 15px; padding: 10px; background-color: #d4edda; color: #155724; border-radius: 5px;">
                    {{ message}}
                </div>
            {% endfor %}

        </form>

    </div>
</div>
