<div class="pagina">

    <h1 class="titulo">Solicitação de Reserva</h1>

    <div class="container-opcoes">

        <div class="box-opcao" style="cursor: pointer;" onclick="window.carregarReserva('sala')">
            <h2>Reserva de Sala</h2>
            <p>Solicite reservas de salas.</p>
        </div>

        <div class="box-opcao" style="cursor: pointer;" onclick="window.carregarReserva('veiculo')">
            <h2>Reserva de Veículo</h2>
            <p>Solicite reservas de veículos.</p>
        </div>

    </div>

    <!-- Área de Conteúdo da Reserva -->
    <div id="solicitar-content-area"></div>

</div>
